@model IEnumerable<BloodBankPR.Models.DonationRequestJoinDTO>;
@{
    var oNeg = ViewBag.oNeg;
    var oPlus = ViewBag.oPlus;
    var bNeg = ViewBag.bNeg;
    var bPlus = ViewBag.bPlus;
    var abNeg = ViewBag.abNeg;
    var abPlus = ViewBag.abPlus;
    var aPlus = ViewBag.aPlus;
    var aNeg = ViewBag.aNeg;
    Layout = "_Layout2";

}
<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Dashboard/images/blood-bank.jpeg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Blood Donor</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" asp-action="InsertBloodUnitRequest">Send Blood Request</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Dashboard/images/bono-2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Blood Donor</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" asp-action="InsertBloodUnitRequest">Send Blood Request</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Dashboard/images/no-3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Blood Donor </strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" asp-action="InsertBloodUnitRequest">Send Blood Request</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a  class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Blood Unit </h1>
                    <p>
                        Blood unit you will find all previous requests
                        and the available amount of Blood unit in our stores
                    </p>
                </div>
            </div>
        </div>
        @*            <div class="row">
        <div class="col-lg-12">
        <div class="special-menu text-center">
        <div class="button-group filter-button-group">
        <button class="active" data-filter=".units">Available Unit</button>
        <button data-filter=".top-featured">Latest Donation Request</button>
        <button data-filter=".best-seller">Latest Blood Unit Request</button>
        </div>
        </div>
        </div>
        </div>*@
        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/ON.png" width="150" height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                            <a asp-action="SignIn"></a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @oNeg</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/OP.png" width="150 height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                            <a asp-action="SignIn"></a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @oPlus</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/BN.png" width="150" height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                            <a asp-action="SignIn"></a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @bNeg</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/BP.png" width="150" height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                            <a asp-action="SignIn"></a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @bPlus</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/AB.jpg" width="150" height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            <a asp-action="SignIn"></a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @abNeg</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/ABP.png" width="150" height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                            <a asp-action="SignIn"></a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @abPlus</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/AP.jpg" width="150" height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                            <a asp-action="SignIn"> </a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @aPlus</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid best-seller units">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <img src="~/Bloods/Ap.png" width="100" height="150" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a asp-action="SignIn" data-toggle="tooltip" data-placement="right" title="Donate">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart" viewBox="0 0 16 16">
                                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982Z" />
                                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6l2.25-3ZM8.5 4V1h3.75l2.25 3h-6ZM15 5v10H1V5h14Z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            <a asp-action="SignIn"></a>
                        </div>
                    </div>
                    <div class="why-text">

                        <h5 style="background-color:#f5f5f5; color:black">Available Copy = @aNeg </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Products  -->
<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Donation Request</h1>
                    <p>Latest Request For Books Donations</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="~/Bloods/request.jpeg" alt="" style="width:100%; height:180px;" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Request From @item.User.Name</h3>
                               
                                
                               
                            </div>
                            <br />
                            <br />
                            <input type="text" value="http://localhost:43883/User/MainContent" id="myInput" hidden>
                            <ul class="option-blog">


                               
                                <!---------------------->

                                <li style="width:50px; padding:15px; margin-left:10px; margin-right:10px;">
                                    <button title="Share" onclick="myFunction()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                        </svg>
                                    </button>
                                </li>
                                <script>
                                    function myFunction() {
                                        // Get the text field
                                        var copyText = document.getElementById("myInput");

                                        // Select the text field
                                        copyText.select();
                                        copyText.setSelectionRange(0, 99999); // For mobile devices

                                        // Copy the text inside the text field
                                        navigator.clipboard.writeText(copyText.value);

                                        // Alert the copied text
                                        alert("Copied the text: " + copyText.value);
                                    }
                                </script>
                            </ul>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
<!-- Start Footer  -->