@model BloodBankPR.Models.User;
@{
    Layout = "_LayoutUser";
}
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="col-2"></div>
                <div class="col-8 offset-2">
                    <div class="card">
                        <div class="card-header">
                            <h5>Update Doctor</h5>
                            <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                        </div>
                        <div class="card-block">
                            <form class="form-material" asp-action="UpdateDoctor" method="post">
                                <input type="text" name="id" class="form-control" value="@Model.UserId" hidden>
                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="fname" value="@Model.Name" readonly class="form-control" placeholder="Enter User Name">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Doctor Name</label>
                                </div>


                                <div class="form-group form-default form-static-label">
                                    <input type="email" name="email" value="@Model.Email" readonly class="form-control" placeholder="Enter Email">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Email</label>
                                </div>

                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="address" value="@Model.Address" class="form-control" placeholder="Enter User Name">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Address</label>
                                </div>
                                
                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="birthDate" class="form-control" value="@Model.BirthDate.ToString("yyyy-MM-dd")" readonly placeholder="Enter User Name">
                                    <span class="form-bar"></span>
                                    <label class="float-label">BirthDate</label>
                                </div>

                                <button type="submit" class="btn btn-success btn-round waves-effect waves-light" style="text-align:center;margin-left:280px;">
                                    Update
                                </button>

                                <a asp-action="Doctors" class="btn btn-danger btn-round waves-effect waves-light" style="text-align:center;margin-left:80px;">
                                    Cancel
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>